services:
  db-belajar:
    image: postgres:17-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-accountingdb}
      - POSTGRES_USER=${POSTGRES_USER:-accounting}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?Database password must be set via POSTGRES_PASSWORD environment variable}
    ports:
      - ${POSTGRES_PORT:-12345}:5432
    volumes:
      - ./db-accounting:/var/lib/postgresql/data